# Ignore thư mục ảo hóa của Python
myenv-hotel
.env/

# Ignore các file biên dịch của Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore file log
*.log

# Ignore các file hệ thống của macOS và Windows
.DS_Store
Thumbs.db

# Ignore output từ Jupyter Notebook
.ipynb_checkpoints/

# Ignore các file backup hoặc tạm thời
*.swp
*.swo
*~

*.venv
*venv